= form_for([:admin, @book], html: { class: 'form-horizontal' }) do |f|
  - if @book.errors.any?
    .error_explanation
      %h2
        = pluralize(@book.errors.count, "error")
        prohibited this book from being saved:

      %ul
      - @book.errors.full_messages.each do |msg|
        = msg

  .input-append
    = f.label :title
    = f.text_field :title
    %button.btn#search_gbook
      %i.icon-search

  .control-group
    = f.label :isbn
    = f.text_field :isbn

  .control-group
    = f.label :publisher
    = f.text_field :publisher

  .control-group
    = f.label :description
    = f.text_area :description

  .control-group
    = f.label :authors
    = f.text_field :authors

  .controls
    = f.submit 'Save', class: 'btn'
