- if notice
  = notice

%h1 Listing books

%table.table.table-striped
  %tr
    %th ISBN
    %th Title
    %th Description
    %th Publisher
    %th Authors
    %th
    %th

- @books.each do |book|
  %tr
    %td= book.isbn 
    %td= book.title
    %td= book.description 
    %td= book.publisher.name
    - book.authors.each do |a|
      %td= a.name 
    %td= link_to 'Show', [:admin, book], class: 'btn'
    %td= link_to 'Edit', edit_admin_book_path(book), class: 'btn'
    %td= link_to 'Delete', [:admin, book], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn'


%br

= link_to 'New Book', new_admin_book_path, class: 'btn'
