%h1 Listing authors

- unless @authors
  %table
    %tr
      %th
      %th
      %th
      %th

  - @authors.each do |author|
    %tr
      %td= author.name
      %td= link_to 'Show', author
      %td= link_to 'Show', author
      %td= link_to 'Edit', edit_author_path(author)
      %td= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }
- else
  .alert.alert-block
    %h4 Empty list
    %p You need to add some authors or books

%br

= link_to content_tag(:i, '', class: 'icon-plus') + ' New Author', new_author_path, class: 'btn'
