%h1 Listing publishers

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @publishers.each do |publisher|
    %tr
      %td= @publisher.name
      %td= link_to 'Show', [:admin, publisher]
      %td= link_to 'Edit', edit_admin_publisher_path(publisher)
      %td= link_to 'Destroy', [:admin, publisher], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Publisher', new_admin_publisher_path, class: 'btn'
