%h1 Listing publishers

- if @publishers
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th
        %th
        %th
    %tbody
      - @publishers.each do |publisher|
        %tr
          %td= publisher.name
          %td= link_to 'Show', [:admin, publisher]
          %td= link_to 'Edit', edit_admin_publisher_path(publisher)
          %td= link_to 'Destroy', [:admin, publisher], method: :delete, data: { confirm: 'Are you sure?' }
- else
  .alert.alert-block
    %h4 Empty list
    %p You need to add publisers o books with publishers
%br

= link_to  content_tag(:i, '', class: 'icon-plus') + ' New Publisher', new_admin_publisher_path, class: 'btn'
